In [2]:
import pandas as pd 
import numpy as np 

df = pd.read_excel('official3.xlsx')
del df['Unnamed: 0']
df.head()

,name,phone,company,state,link
0,"A. Bert Risdon, B.C.I.",(407) 797-6300,"Florida Business Exchange, Inc.","Daytona Beach,Florida",https://www.bizbuysell.com/business-broker/a-b...
1,A. John Richwine CCIM,(904) 996-0699,MarketPoint Advisors,"Duval County, FL",https://www.bizbuysell.com/business-broker/a-j...
2,AJ (Alpesh Jayswal),(630) 544-0611,Transworld Business Advisors of St. Charles,"St. Charles,Illinois",https://www.bizbuysell.com/business-broker/aj-...
3,AJ Ajendla,(424) 253-6352,Link Silicon Valley,"Contra Costa County, CA",https://www.bizbuysell.com/business-broker/aj-...
4,AJ Jafari,(703) 402-9558,Nova Concept INC,"Sterling,Virginia",https://www.bizbuysell.com/business-broker/aj-...

In [3]:
df.shape

(5132, 5)

In [4]:
df.isnull().sum()

name       0
phone      3
company    0
state      0
link       0
dtype: int64

In [5]:
phone_null = df[df['phone'].isnull()]
display(phone_null)

,name,phone,company,state,link
4659,Adrienne Luera,NaN,Success CRE Brokered by eXp Commercial,"San Diego County, CA",https://www.bizbuysell.com/business-broker/adr...
4671,Alvin Papa,NaN,First Choice Business Brokers LA,"Los Angeles,California",https://www.bizbuysell.com/business-broker/alv...
4691,Austin Harrell,NaN,illi Commercial Real Estate,"Los Angeles County, CA",https://www.bizbuysell.com/business-broker/aus...

In [6]:
for a in phone_null['link']:
    print(a)

https://www.bizbuysell.com/business-broker/adrienne-luera/success-cre-brokered-by-exp-commercial/40299/
https://www.bizbuysell.com/business-broker/alvin-papa/first-choice-business-brokers-la/31979/
https://www.bizbuysell.com/business-broker/austin-harrell/illi-commercial-real-estate/30633/

In [7]:
df.loc[df['name'] == 'Adrienne Luera', 'phone'] = '(805) 757-9833'
df.loc[df['name'] == 'Austin Harrell', 'phone'] = '(818) 514-0547'

In [9]:
df = df[df['name'] != 'Alvin Papa']
df.shape

(5131, 5)

In [10]:
df.isnull().sum()

name       0
phone      0
company    0
state      0
link       0
dtype: int64

In [11]:
df.duplicated().sum()

73

In [12]:
df = df.drop_duplicates(keep='first')
df.shape

(5058, 5)

In [13]:
df.duplicated().sum()

0

In [15]:
df.to_excel('official.xlsx')