In [1]:
import pandas as pd
import numpy as np 

df = pd.read_excel('official4.xlsx')
del df['Unnamed: 0']
df.head()

,Company,First Name,Last Name,Full Name,Corporate Phone,Location,City,State,Profile Link
0,Access Commercial & Business Brokers,Sam,Mozeb,Sam Mozeb,(256) 309-7556,"Decatur,Alabama",Decatur,Alabama,https://www.bizbuysell.com/business-broker/sam...
1,Alabama Business Brokers,Brad,Owen,Brad Owen,(205) 294-9148,"Clanton,Alabama",Clanton,Alabama,https://www.bizbuysell.com/business-broker/bra...
2,TNT Business Brokers,Wyndee,Townley,Wyndee Townley,(251) 233-9942,"Orange Beach,Alabama",Orange Beach,Alabama,https://www.bizbuysell.com/business-broker/wyn...
3,Sunbelt Business Brokers and Business Brokers ...,David,Chew,David Chew,(251) 278-8171,"Daphne,Alabama",Daphne,Alabama,https://www.bizbuysell.com/business-broker/dav...
4,Business Resource,Wilson,Archer,Wilson Archer,(208) 870-1717,"Mountain Brook,Alabama",Mountain Brook,Alabama,https://www.bizbuysell.com/business-broker/wil...

In [2]:
for num in range(len(df['Corporate Phone'])):
    phone = df.loc[num, 'Corporate Phone']
    
    if pd.notnull(phone):
        phone = str(phone)
        new = ''
        for character in phone:
            if character.isnumeric() == True:
                new += character 
        phone = '+1 ' + new[:3] + '-' + new[3:6] + '-' + new[6:]
        df.loc[num, 'Corporate Phone'] = phone

In [3]:
df.head()

,Company,First Name,Last Name,Full Name,Corporate Phone,Location,City,State,Profile Link
0,Access Commercial & Business Brokers,Sam,Mozeb,Sam Mozeb,+1 256-309-7556,"Decatur,Alabama",Decatur,Alabama,https://www.bizbuysell.com/business-broker/sam...
1,Alabama Business Brokers,Brad,Owen,Brad Owen,+1 205-294-9148,"Clanton,Alabama",Clanton,Alabama,https://www.bizbuysell.com/business-broker/bra...
2,TNT Business Brokers,Wyndee,Townley,Wyndee Townley,+1 251-233-9942,"Orange Beach,Alabama",Orange Beach,Alabama,https://www.bizbuysell.com/business-broker/wyn...
3,Sunbelt Business Brokers and Business Brokers ...,David,Chew,David Chew,+1 251-278-8171,"Daphne,Alabama",Daphne,Alabama,https://www.bizbuysell.com/business-broker/dav...
4,Business Resource,Wilson,Archer,Wilson Archer,+1 208-870-1717,"Mountain Brook,Alabama",Mountain Brook,Alabama,https://www.bizbuysell.com/business-broker/wil...

In [4]:
df.to_excel('bizbuysell.xlsx')