In [1]:
import pandas as pd 
import glob

In [2]:
excel_files = glob.glob('./files/*.xlsx')
all_df = []
for file in excel_files:
    dfx = pd.read_excel(file)
    all_df.append(dfx)

df  = pd.concat(all_df, ignore_index = True)
df.head()

,Unnamed: 0,name,phone,company,state,link
0,0,Mario Manetta,(727) 239-6102,Tampa Bay Business Group,"St. Petersburg,Florida",https://www.bizbuysell.com/business-broker/mar...
1,1,Dan Soronen,(727) 580-9937,Main Street & Main,"Saint Petersburg,Florida",https://www.bizbuysell.com/business-broker/dan...
2,2,Gregg Potter,(727) 656-3331,Legacy Venture Group & BuyBIzUSA,"Brandon,Florida",https://www.bizbuysell.com/business-broker/gre...
3,3,Jary Jackson,(910) 703-0437,"Florida Business Exchange, Inc.","Volusia County, FL",https://www.bizbuysell.com/business-broker/jar...
4,4,Maria Cayuela,(754) 707-4881,Withal Realty,"Broward County, FL",https://www.bizbuysell.com/business-broker/mar...

In [3]:
print(len(df))

7227

In [4]:
del df['Unnamed: 0']
df.head()

,name,phone,company,state,link
0,Mario Manetta,(727) 239-6102,Tampa Bay Business Group,"St. Petersburg,Florida",https://www.bizbuysell.com/business-broker/mar...
1,Dan Soronen,(727) 580-9937,Main Street & Main,"Saint Petersburg,Florida",https://www.bizbuysell.com/business-broker/dan...
2,Gregg Potter,(727) 656-3331,Legacy Venture Group & BuyBIzUSA,"Brandon,Florida",https://www.bizbuysell.com/business-broker/gre...
3,Jary Jackson,(910) 703-0437,"Florida Business Exchange, Inc.","Volusia County, FL",https://www.bizbuysell.com/business-broker/jar...
4,Maria Cayuela,(754) 707-4881,Withal Realty,"Broward County, FL",https://www.bizbuysell.com/business-broker/mar...

In [5]:
df.to_excel('bizbuysell.xlsx')

In [6]:
df.isnull().sum()

name       1112
phone       474
company     449
state       443
link          0
dtype: int64